In [3]:
off_train = pd.read_csv('../data/ccf_offline_stage1_train.csv', header=None)
off_train.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance', 'date_received', 'date']
# 2050 coupon_id. date_received:20160701~20160731, 76309 users(76307 in trainset, 35965 in online_trainset), 1559 merchants(1558 in trainset)
off_test = pd.read_csv('../data/ccf_offline_stage1_test_revised.csv', header=None)
off_test.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance', 'date_received']
# 11429826 record(872357 with coupon_id),762858 user(267448 in off_train)
on_train = pd.read_csv('../data/ccf_online_stage1_train.csv', header=None)
on_train.columns = ['user_id', 'merchant_id', 'action', 'coupon_id', 'discount_rate', 'date_received', 'date']

dataset3 = off_test
feature3 = off_train[((off_train.date >= '20160315') & (off_train.date <= '20160630')) | (
        (off_train.date == 'null') & (off_train.date_received >= '20160315') & (off_train.date_received <= '20160630'))]
dataset2 = off_train[(off_train.date_received >= '20160515') & (off_train.date_received <= '20160615')]
feature2 = off_train[(off_train.date >= '20160201') & (off_train.date <= '20160514') | (
        (off_train.date == 'null') & (off_train.date_received >= '20160201') & (off_train.date_received <= '20160514'))]
dataset1 = off_train[(off_train.date_received >= '20160414') & (off_train.date_received <= '20160514')]
feature1 = off_train[(off_train.date >= '20160101') & (off_train.date <= '20160413') | (
        (off_train.date == 'null') & (off_train.date_received >= '20160101') & (off_train.date_received <= '20160413'))]

C:\Users\wenshao\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\wenshao\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [1]:
import pandas as pd 
import numpy as np

In [4]:
t = dataset3.loc[:,['user_id']]
t['this_month_user_receive_all_coupon_count'] = 1
t = t.groupby('user_id').agg('sum').reset_index()
print(t)

       user_id  this_month_user_receive_all_coupon_count
0      1000020                                         1
1      1000026                                         1
2      1000452                                         1
3      1000510                                         1
4       100057                                         1
5      1000651                                         1
6      1000884                                         1
7      1000907                                         1
8      1000936                                         1
9      1000986                                         1
10     1001023                                         1
11     1001176                                         3
12      100122                                         2
13     1001240                                         3
14     1001257                                         1
15     1001302                                         1
16     1001466                                         1
17      100150                                         1
18     1001505                                         2
19     1001525                                         1
20     1001729                                         4
21     1001771                                         1
22     1001881                                         2
23     1001954                                         1
24     1001960                                         1
25     1002013                                         1
26     1002094                                         1
27     1002150                                         1
28     1002165                                         1
29     1002360                                         1
...        ...                                       ...
76280   996346                                         1
76281   996403                                         1
76282    99657                                         1
76283   996631                                         2
76284   996755                                         1
76285   996758                                         1
76286    99708                                         1
76287    99721                                         1
76288   997367                                         3
76289   997426                                         1
76290   997688                                         1
76291   997751                                         1
76292   997802                                         4
76293   997846                                         1
76294   997992                                         1
76295   998381                                         1
76296   998639                                         1
76297   998686                                         1
76298   998717                                         2
76299   998773                                         1
76300   998807                                         1
76301   998945                                         1
76302   999137                                         1
76303   999350                                         1
76304   999659                                         2
76305   999781                                         2
76306   999842                                         1
76307   999931                                         1
76308    99996                                         1
76309  User_id                                         1

[76310 rows x 2 columns]

In [6]:
t1 = dataset3.loc[:,['user_id', 'coupon_id']]
t1['this_month_user_receive_same_coupon_count'] = 1
t1 = t1.groupby(['user_id', 'coupon_id']).agg('sum').reset_index()
print(t1)

        user_id  coupon_id  this_month_user_receive_same_coupon_count
0       1000020      13602                                          1
1       1000026      13602                                          1
2       1000452       9983                                          1
3       1000510      10418                                          1
4        100057       2601                                          1
5       1000651      13602                                          1
6       1000884      10438                                          1
7       1000907       1904                                          1
8       1000936       4203                                          1
9       1000986      12429                                          1
10      1001023      13602                                          1
11      1001176      13181                                          1
12      1001176        361                                          1
13      1001176       3992                                          1
14       100122      12735                                          1
15       100122      13602                                          1
16      1001240      10418                                          1
17      1001240      13602                                          1
18      1001240       2978                                          1
19      1001257      11799                                          1
20      1001302      13602                                          1
21      1001466       9983                                          1
22       100150      13602                                          1
23      1001505      13602                                          1
24      1001505       4283                                          1
25      1001525      10418                                          1
26      1001729      10418                                          1
27      1001729      10438                                          1
28      1001729      13602                                          1
29      1001729       2978                                          1
...         ...        ...                                        ...
105929    99721      10438                                          1
105930   997367      13602                                          1
105931   997367       8059                                          1
105932   997367       9983                                          1
105933   997426      13602                                          1
105934   997688      13602                                          1
105935   997751      13602                                          1
105936   997802       3443                                          2
105937   997802       6465                                          1
105938   997802       7459                                          1
105939   997846        613                                          1
105940   997992      13602                                          1
105941   998381      13602                                          1
105942   998639       2978                                          1
105943   998686        768                                          1
105944   998717      13602                                          1
105945   998717       9983                                          1
105946   998773       4185                                          1
105947   998807      10418                                          1
105948   998945      13602                                          1
105949   999137       9983                                          1
105950   999350      13602                                          1
105951   999659      13191                                          1
105952   999659       7517                                          1
105953   999781      12027                                          1
105954   999781       1904                                          1
105955   999842       9983                                          1
105956   999931      13320                                          1
105957    99996      13602                                          1
105958  User_id  Coupon_id                                          1

[105959 rows x 3 columns]

In [9]:
t2 = dataset3.loc[:,['user_id', 'coupon_id', 'date_received']]
t2.date_received = t2.date_received.astype('str')
print(t2)

        user_id  coupon_id  date_received
0       User_id  Coupon_id  Date_received
1       4129537       9983       20160712
2       6949378       3429       20160706
3       2166529       6928       20160727
4       2166529       1808       20160727
5       6172162       6500       20160708
6       4005121       9983       20160706
7       4347394       9983       20160716
8       3094273      13602       20160727
9       5139970       9983       20160729
10      3237121      13602       20160703
11      6224386       9983       20160716
12      6488578      13602       20160712
13      4164865       9983       20160703
14      4164865       8059       20160706
15      5468674       9983       20160713
16      6258178       9144       20160706
17      3659521       7341       20160727
18      3659521      13181       20160717
19      3659521      13602       20160718
20      7333378      13602       20160704
21      7333378        785       20160727
22      4454914       2978       20160711
23      6817282       8375       20160724
24      3149569      10418       20160721
25      6301186       1715       20160718
26      6301186       4203       20160708
27      2891521      13602       20160724
28      3422977      13602       20160727
29      4771330      13602       20160726
...         ...        ...            ...
113611  4194809      11799       20160717
113612  4194809      13602       20160713
113613  6062585      10438       20160719
113614  6062585      13602       20160719
113615  6074873        878       20160724
113616  6342137      13602       20160728
113617  6342137       8059       20160704
113618  6342137       9822       20160724
113619  6342137       3429       20160718
113620  4317689       5933       20160727
113621  5110265      13602       20160711
113622  5110265       9983       20160711
113623  6422009       5874       20160710
113624  4851197       9983       20160713
113625  4894205       2978       20160711
113626  7253501      13602       20160714
113627  6485501      13602       20160720
113628  4918781      10438       20160723
113629  6497789       9983       20160716
113630  7047677       2601       20160708
113631  6786557       9983       20160718
113632  6801917      13602       20160719
113633  7066109       9144       20160705
113634  4451837      13602       20160723
113635  5828093       2978       20160716
113636  5828093      10418       20160716
113637  6626813       7595       20160707
113638  6626813       7590       20160712
113639  4547069      13602       20160717
113640  6675965        613       20160728

[113641 rows x 3 columns]

In [ ]:
t2 = t2.groupby(['user_id', 'coupon_id'])['date_received'].agg(lambda x: ':'.join(x)).reset_index()
t2['receive_number'] = t2.date_received.apply(lambda s: len(s.split(':')))

In [ ]:
off_train = pd.read_csv('../data/ccf_offline_stage1_train.csv', header=None)
print()

In [10]:
import os
DataDir = '../data'
SplitDataPath = os.path.join(DataDir, 'SplitData')

In [11]:
feature3 = pd.read_csv(os.path.join(SplitDataPath, 'feature3.csv'))

In [13]:
print(feature3.columns)

Index(['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance',
       'date_received', 'date'],
      dtype='object')

In [15]:
print(feature3.index)

RangeIndex(start=0, stop=1036975, step=1)

In [17]:
print(feature3.values)

[[1439408 4663 '11002' ... '1' '20160528' 'null']
 [1439408 2632 '1078' ... '0' '20160319' 'null']
 [1439408 2632 '8591' ... '0' '20160613' 'null']
 ...
 [212662 2934 'null' ... '2' 'null' '20160321']
 [752472 7113 '1633' ... '6' '20160613' 'null']
 [752472 3621 '2705' ... '0' '20160523' 'null']]

In [23]:
import re
s = 'dataset1.csv'
ret = re.findall('dataset(\d+)\.csv',s)
print(ret)

['1']