In [3]:
off_train = pd.read_csv('../data/ccf_offline_stage1_train.csv', header=None)
off_train.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance', 'date_received', 'date']
# 2050 coupon_id. date_received:20160701~20160731, 76309 users(76307 in trainset, 35965 in online_trainset), 1559 merchants(1558 in trainset)
off_test = pd.read_csv('../data/ccf_offline_stage1_test_revised.csv', header=None)
off_test.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance', 'date_received']
# 11429826 record(872357 with coupon_id),762858 user(267448 in off_train)
on_train = pd.read_csv('../data/ccf_online_stage1_train.csv', header=None)
on_train.columns = ['user_id', 'merchant_id', 'action', 'coupon_id', 'discount_rate', 'date_received', 'date']

dataset3 = off_test
feature3 = off_train[((off_train.date >= '20160315') & (off_train.date <= '20160630')) | (
        (off_train.date == 'null') & (off_train.date_received >= '20160315') & (off_train.date_received <= '20160630'))]
dataset2 = off_train[(off_train.date_received >= '20160515') & (off_train.date_received <= '20160615')]
feature2 = off_train[(off_train.date >= '20160201') & (off_train.date <= '20160514') | (
        (off_train.date == 'null') & (off_train.date_received >= '20160201') & (off_train.date_received <= '20160514'))]
dataset1 = off_train[(off_train.date_received >= '20160414') & (off_train.date_received <= '20160514')]
feature1 = off_train[(off_train.date >= '20160101') & (off_train.date <= '20160413') | (
        (off_train.date == 'null') & (off_train.date_received >= '20160101') & (off_train.date_received <= '20160413'))]

C:\Users\wenshao\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\wenshao\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [1]:
import pandas as pd 
import numpy as np

In [11]:
t = dataset3.loc[:,['user_id']]
t['this_month_user_receive_all_coupon_count'] = 1
t = t.groupby('user_id').agg('sum').reset_index()
print(t)

       user_id  this_month_user_receive_all_coupon_count
0      1000020                                         1
1      1000026                                         1
2      1000452                                         1
3      1000510                                         1
4       100057                                         1
5      1000651                                         1
6      1000884                                         1
7      1000907                                         1
8      1000936                                         1
9      1000986                                         1
10     1001023                                         1
11     1001176                                         3
12      100122                                         2
13     1001240                                         3
14     1001257                                         1
15     1001302                                         1
16     1001466                                         1
17      100150                                         1
18     1001505                                         2
19     1001525                                         1
20     1001729                                         4
21     1001771                                         1
22     1001881                                         2
23     1001954                                         1
24     1001960                                         1
25     1002013                                         1
26     1002094                                         1
27     1002150                                         1
28     1002165                                         1
29     1002360                                         1
...        ...                                       ...
76280   996346                                         1
76281   996403                                         1
76282    99657                                         1
76283   996631                                         2
76284   996755                                         1
76285   996758                                         1
76286    99708                                         1
76287    99721                                         1
76288   997367                                         3
76289   997426                                         1
76290   997688                                         1
76291   997751                                         1
76292   997802                                         4
76293   997846                                         1
76294   997992                                         1
76295   998381                                         1
76296   998639                                         1
76297   998686                                         1
76298   998717                                         2
76299   998773                                         1
76300   998807                                         1
76301   998945                                         1
76302   999137                                         1
76303   999350                                         1
76304   999659                                         2
76305   999781                                         2
76306   999842                                         1
76307   999931                                         1
76308    99996                                         1
76309  User_id                                         1

[76310 rows x 2 columns]